.idea/*
.cache/*
.mypy_cache/*
*/.mypy_cache/*
*__pycache__/*
*/__pycache__/*
cov_html/*
.coverage
*.py[c|o]
.pytest_cache/*
pytest_cache/*
.project
.pydevproject
.settings
.settings/*
*.db.sqlite3
# prod config
finishedgames/finishedgames/settings/prod.py
finishedgames/finishedgames/settings/local.py
finishedgames/statics/*
