.DS_Store
.idea/*
.cache/*
.mypy_cache/*
*/.mypy_cache/*
*__pycache__/*
*/__pycache__/*
cov_html/*
.coverage
*.py[c|o]
.pytest_cache/*
pytest_cache/*
.project
.pydevproject

finishedgames/*.json
finishedgames/static/img/covers/*
.settings
.settings/*
*.db.sqlite3
finishedgames/statics/*
finishedgames/catalogsources/import/*.jpg
finishedgames/catalogsources/import/*.png
# prod config
finishedgames/web/templates/google-validation.html
finishedgames/finishedgames/settings/prod.py
finishedgames/finishedgames/settings/local.py
requirements-prod.txt
/statics

# CACHE_FOLDER_NAME variable at SteamAdapter
cache_steam_game_details_v1/