coverage==7.2.7
# 3.3.0 no longer supports django < 3.2
django-debug-toolbar==3.2.4
mypy==1.5.0
# type hints for requests package
types-requests
pre-commit==3.3.3
pytest==7.4.0
pytest-cov==4.1.0
pytest-django==4.5.2
pytest-randomly==3.13.0
