coverage==7.4.3
# 3.3.0 no longer supports django < 3.2
django-debug-toolbar==3.2.4
mypy==1.8.0
# type hints for requests package
types-requests
pre-commit==3.6.2
pytest==8.1.0
pytest-cov==4.1.0
pytest-django==4.8.0
pytest-randomly==3.15.0
