{% load web_extras %}

{% if sort_by == constants.SORT_BY_GAME_NAME %}
    <th>
        <a href="?{% query_update request sort_by=constants.SORT_BY_GAME_NAME_DESC exclude=exclude %}">Name &#8595;</a>
    </th>
{% elif sort_by == constants.SORT_BY_GAME_NAME_DESC %}
    <th>
        <a href="?{% query_update request sort_by=constants.SORT_BY_GAME_NAME exclude=exclude %}">Name &#8593;</a>
    </th>
{% else %}
    <th>
        <a href="?{% query_update request sort_by=constants.SORT_BY_GAME_NAME exclude=exclude %}">Name</a>
    </th>
{% endif %}

{% if constants.KEY_FIELD_PLATFORM in enabled_fields %}
    {% if sort_by == constants.SORT_BY_PLATFORM %}
        <th>
            <a href="?{% query_update request sort_by=constants.SORT_BY_PLATFORM_DESC exclude=exclude %}">️️️️Platform &#8595;</a>
        </th>
    {% elif sort_by == constants.SORT_BY_PLATFORM_DESC %}
        <th>
            <a href="?{% query_update request sort_by=constants.SORT_BY_PLATFORM exclude=exclude %}">Platform &#8593;</a>
        </th>
    {% else %}
        <th>
            <a href="?{% query_update request sort_by=constants.SORT_BY_PLATFORM exclude=exclude %}">Platform</a>
        </th>
    {% endif %}
{% endif %}

{% if constants.KEY_FIELD_YEAR in enabled_fields %}
    {% if sort_by == constants.SORT_BY_YEAR %}
        <th>
            <a href="?{% query_update request sort_by=constants.SORT_BY_YEAR_DESC %}">Year &#8595;</a>
        </th>
    {% elif sort_by == constants.SORT_BY_YEAR_DESC %}
        <th>
            <a href="?{% query_update request sort_by=constants.SORT_BY_YEAR %}">Year &#8593;</a>
        </th>
    {% else %}
        <th>
            <a href="?{% query_update request sort_by=constants.SORT_BY_YEAR %}">Year</a>
        </th>
    {% endif %}
{% endif %}
