
{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}

{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/admin.css' %}">

{% endblock extrahead %}

{% block breadcrumbs %}

<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url 'admin:catalogsources_fetchedgame_changelist' %}">{{ model_class_name }}</a>
    &rsaquo; Import Game
</div>

{% endblock breadcrumbs %}

{% block content %}

<div id="content-main">

    <div>
        <p>You are going to import the following <strong>{{ count_items_to_import }}</strong> Fetched Games to the main catalog.<br/>
            Note that if the destination Game does not exist, it will be created, but <strong>if exists all imported fields will override existing values</strong>.</p>
    </div>

    <form action="{% url 'admin:game_import_batch' %}" method="post">
        {% csrf_token %}

        <p>
            <h3>Choose fields to import:</h3>
            <input type="checkbox" name="fields" value="name" checked>Name<br />
            <input type="checkbox" name="fields" value="publish_date" checked>Publish Date<br />
            <input type="checkbox" name="fields" value="platforms" checked>Platforms<br />
            <input type="checkbox" name="fields" value="dlc_or_expansion" checked>DLC/Expansion<br />
            <input type="checkbox" name="fields" value="parent_game" checked>Parent Game<br />
        </p>

        <hr />

        <h3>Items that will be imported:</h3>
        <ul>
            {% for fetched_game, platforms, source_display_name in fetched_games_with_platforms %}
                <li>
                    {% if fetched_game.fg_game %}
                        <span class="changelink" title="Main catalog Game update"></span>
                    {% else %}
                        <span class="addlink" title="New main catalog Game"></span>
                    {% endif %}
                    <strong>{{ fetched_game.name }}</strong>
                    (
                        {% for platform in fetched_game.platforms.all %}
                            {{ platform.name }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    )
                    {% if fetched_game.fg_game %}
                        → {{ fetched_game.fg_game.name }}
                        (
                            {% for destination_platform in fetched_game.fg_game.platforms.all %}
                                {{ destination_platform.name }}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        )
                    {% endif %}

                    <input type="hidden" name="{{games_form.fetched_game_ids.html_name}}"
                        value="{{ fetched_game.id }}">
                    <input type="hidden" name="{{games_form.fg_game_ids.html_name}}"
                        value="{% if fetched_game.fg_game %}{{ fetched_game.fg_game.id }}{% else %}{{ constants.NO_GAME }}{% endif %}">
                    <input type="hidden" name="{{games_form.names.html_name}}"
                        value="{{ fetched_game.name }}">
                    <input type="hidden" name="{{games_form.publish_date_strings.html_name}}"
                        value="{{ fetched_game.publish_date }}">
                    <input type="hidden" name="{{games_form.dlcs_or_expansions.html_name}}"
                        value="{% if fetched_game.dlc_or_expansion %}true{% else %}false{% endif %}">
                    <input type="hidden" name="{{games_form.platforms_lists.html_name}}"
                        value="{{ platforms }}">
                    {% if fetched_game.parent_game and fetched_game.parent_game.fg_game %}
                        <input type="hidden" name="{{games_form.parent_game_ids.html_name}}"
                            value="{{ fetched_game.parent_game.fg_game.id }}">
                    {% else %}
                        <input type="hidden" name="{{games_form.parent_game_ids.html_name}}"
                            value="{{ constants.NO_GAME }}">
                    {% endif %}
                    <input type="hidden" name="{{games_form.source_display_names.html_name}}"
                        value="{{ source_display_name }}">
                    <input type="hidden" name="{{games_form.source_urls.html_name}}"
                        value="{{ fetched_game.source_url }}">
                </li>
            {% endfor %}
        </ul>

        <div class="submit-row">
            <input type="submit" value="Save" class="default" name="_save">
        </div>
    </form>

</div>

{% endblock content %}