{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
<link rel="stylesheet" type="text/css" media="all" href="/static/css/admin.css">
<style type="text/css">
    input.btn-copy {
        background: #417690;
        margin-left: 9px;
        padding: 3px 6px;
    }
    label.text-field {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px 6px;
        margin-top: 0;
    }
    label.number-field {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px 6px;
        margin-top: 0;
    }
    a.uri-field {
        font-size: 14px;
        vertical-align: middle;
    }
    div.with-copy-btn {
        display: flex;
    }
    div.with-copy-btn div span {
        padding-top: 10px;
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block breadcrumbs %}

<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; Import Platform
</div>

{% endblock %}

{% block content %}

<div id="content-main">

    {% if fetched_platform %}
        <fieldset class="module aligned">
            <h3>Source Fetched Platform</h3>
            <div class="form-row">
                <div>
                    <label for="fetched_name">Name:</label>
                    <div class="with-copy-btn">
                        <div class="readonly" id="fetched_name"><span>{{ fetched_platform.name }}</span></div>
                        <input data-source="fetched_name" data-destination="name" onclick="copyField(this)" type="button" value="➤"     class="btn-copy" title="Copy value">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label>Shortname:</label>
                    <div class="with-copy-btn">
                        <div class="readonly" id="fetched_shortname"><span>{{ fetched_platform.shortname }}</span></div>
                        <input data-source="fetched_shortname" data-destination="shortname" onclick="copyField(this)" type="button" value="➤" class="btn-copy" title="Copy value">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label for="fetched_publish_date">Year Published:</label>
                    <div class="with-copy-btn">
                        <div class="readonly" id="fetched_publish_date"><span>{{ fetched_platform.publish_date }}</span></div>
                        <input data-source="fetched_publish_date" data-destination="publish_date" onclick="copyField(this)" type="button" value="➤" class="btn-copy" title="Copy value">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label>Source:</label>
                    <div class="readonly">{{ fetched_platform.source_id }}</div>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label>Source platform identifier:</label>
                    <div class="readonly">{{ fetched_platform.source_platform_id }}</div>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label>Source URI:</label>
                    <div class="readonly"><a class="uri-field" href="{{ fetched_platform.source_url }}" target="_blank" id="fetched_source_url">{{ fetched_platform.source_url }}</a></div>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label>Mapped to FG Platform:</label>
                    <div class="readonly">
                        {% if fetched_platform.fg_platform %}
                            <a href="/admin/core/platform/{{ fetched_platform.fg_platform.id }}/change/">{{ fetched_platform.fg_platform.name }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <label for="fetched_hidden">Item hidden</label>
                <input type="checkbox" name="hidden" id="fetched_hidden" {% if fetched_platform.hidden %}checked{% endif %} disabled="disabled" checked="checked">
            </div>
            <div class="form-row">
                <div>
                    <label>Last data modification:</label>
                    <div class="readonly">{{ fetched_platform.last_modified_date }}</div>
                </div>
            </div>
            <div class="form-row">
                <div>
                    <label>Last data fetch:</label>
                    <div class="readonly">{{ fetched_platform.last_fetch_date }}</div>
                </div>
            </div>
        </fieldset>

        <form action="" method="post">
            {% csrf_token %}
            <div>
                <fieldset class="module aligned">
                    <h3>Destination Platform</h3>
                    <div class="form-row">
                        <div>
                            <label class="required" for="name">Name:</label>
                            <input type="text" name="name" value="" class="vTextField" maxlength="100" id="name" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            <label class="required" for="name">Shortname:</label>
                            <input type="text" name="shortname" value="" class="vTextField" maxlength="100" id="shortname" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            <label class="required" for="publish_date">Year Published:</label>
                            <input type="number" name="publish_date" value="" class="vIntegerField" id="publish_date" require>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>

        <script type="text/javascript">
            function copyField(eventSource) {
                var source_node = document.querySelector('#' + eventSource.dataset.source),
                    destination_node = document.querySelector('#' + eventSource.dataset.destination);

                destination_node.value = source_node.innerHTML;
            }
        </script>
    {% endif %}

</div>

{% endblock %}