{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}

{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
<style type="text/css">
    input.btn-operation {
        background: #79aec8;
        margin-left: 9px;
        padding: 3px 6px;
        height: 24px;
    }
    label.text-field {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px 6px;
        margin-top: 0;
    }
    label.number-field {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 5px 6px;
        margin-top: 0;
    }
    a.uri-field {
        font-size: 14px;
        vertical-align: middle;
    }
    div.with-copy-btn {
        display: flex;
    }
    div.with-copy-btn div span {
        padding-top: 10px;
        vertical-align: middle;
    }
    .form-content {
        display: flex;
    }
    #existing-platform {
        border-left: 1px solid #eee;
    }
</style>

{% endblock extrahead %}

{% block breadcrumbs %}

<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
    &rsaquo; <a href="{% url 'admin:catalogsources_fetchedplatform_changelist' %}">{{ model_class_name }}</a>
    &rsaquo; Import Platform
</div>

{% endblock breadcrumbs %}

{% block content %}

<div id="content-main">
    <div class="form-content">

        <form action="#" method="post">
            <div id="imported-platform">
                <fieldset class="module aligned">
                    <h3>Source Fetched Platform  <input onclick="copyAllFields(this, 'imported-platform')" type="button"
                        value="➤" class="btn-operation" title="Copy all values"></h3>

                    <div class="form-row">
                        <div>
                            {{ fetched_platform_form.fetched_name.label_tag }}
                            <div class="with-copy-btn">
                                <div class="readonly" id="id_{{ fetched_platform_form.fetched_name.html_name }}">
                                    <span>{{fetched_platform_form.fetched_name.value}}</span>
                                </div>
                                <input id="{{ fetched_platform_form.fetched_name.html_name }}"
                                    data-source="id_{{ fetched_platform_form.fetched_name.html_name }}"
                                    data-destination="id_{{ platform_form.name.html_name }}" onclick="copyField(this)"
                                    type="button" value="➤" class="btn-operation" title="Copy value">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            {{ fetched_platform_form.fetched_shortname.label_tag }}
                            <div class="with-copy-btn">
                                <div class="readonly" id="id_{{ fetched_platform_form.fetched_shortname.html_name }}">
                                    <span>{{fetched_platform_form.fetched_shortname.value}}</span>
                                </div>
                                <input id="{{ fetched_platform_form.fetched_shortname.html_name }}"
                                    data-source="id_{{ fetched_platform_form.fetched_shortname.html_name }}"
                                    data-destination="id_{{ platform_form.shortname.html_name }}"
                                    onclick="copyField(this)" type="button" value="➤" class="btn-operation"
                                    title="Copy value">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            {{ fetched_platform_form.fetched_publish_date.label_tag }}
                            <div class="with-copy-btn">
                                <div class="readonly"
                                    id="id_{{ fetched_platform_form.fetched_publish_date.html_name }}">
                                    <span>{{ fetched_platform_form.fetched_publish_date.value }}</span>
                                </div>
                                <input id="{{ fetched_platform_form.fetched_publish_date.html_name }}"
                                    data-source="id_{{ fetched_platform_form.fetched_publish_date.html_name }}"
                                    data-destination="id_{{ platform_form.publish_date.html_name }}"
                                    onclick="copyField(this)" type="button" value="➤" class="btn-operation"
                                    title="Copy value">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            {{ fetched_platform_form.source_id.label_tag }}
                            <div id="id_{{ fetched_platform_form.source_id.html_name }}" class="readonly">
                                {{ fetched_platform_form.source_id.value }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            {{ fetched_platform_form.source_platform_id.label_tag }}
                            <div id="id_{{ fetched_platform_form.source_platform_id.html_name }}" class="readonly">
                                {{ fetched_platform_form.source_platform_id.value }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            {{ fetched_platform_form.source_url.label_tag }}
                            <div id="id_{{ fetched_platform_form.fetched_publish_date.html_name }}" class="readonly">
                                <a class="uri-field" href="{{ fetched_platform_form.source_url.value }}"
                                    target="_blank">{{ fetched_platform_form.source_url.value }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            <label>Mapped to Platform:</label>
                            <div class="readonly">
                                {% if is_fetched_platform_linked %}
                                    <a href="/admin/core/platform/{{ fetched_platform_form.fg_platform_id.value }}/change/">{{ fetched_platform_form.fg_platform_name.value }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        {{ fetched_platform_form.hidden.label_tag }}
                        <div id="id_{{ fetched_platform_form.hidden.html_name }}" class="readonly">
                            {{ fetched_platform_form.hidden.value }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            {{ fetched_platform_form.last_modified_date.label_tag }}
                            <div id="id_{{ fetched_platform_form.last_modified_date.html_name }}" class="readonly">
                                {{ fetched_platform_form.last_modified_date.value }}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>

        <form action="{% url 'admin:platform_import' %}" method="post">
            <div id="existing-platform">
                {% csrf_token %}
                {{ platform_form.platform_id }}
                {{ platform_form.fetched_platform_id }}
                <div>
                    <fieldset class="module aligned">
                        <h3>
                            Destination Platform
                            {% if is_fetched_platform_linked %}
                                - <span class="changelink">Modifying existing Platform</span>
                            {% else %}
                                - <span class="addlink">Adding new Platform</span>
                            {% endif %}
                        </h3>

                        <div class="form-row">
                            <div>
                                {{ platform_form.name.label_tag }}
                                {{ platform_form.name }}
                                <input data-target="id_{{ platform_form.name.html_name }}"
                                    data-original="{{ platform_form.name.value }}" onclick="revertField(this)"
                                    type="button" value="↺" class="btn-operation" title="Reset to original value">
                            </div>
                        </div>
                        <div class="form-row">
                            <div>
                                {{ platform_form.shortname.label_tag }}
                                {{ platform_form.shortname }}
                                <input data-target="id_{{ platform_form.shortname.html_name }}"
                                    data-original="{{ platform_form.shortname.value }}" onclick="revertField(this)"
                                    type="button" value="↺" class="btn-operation" title="Reset to original value">
                            </div>
                        </div>
                        <div class="form-row">
                            <div>
                                {{ platform_form.publish_date.label_tag }}
                                {{ platform_form.publish_date }}
                                <input data-target="id_{{ platform_form.publish_date.html_name }}"
                                    data-original="{{ platform_form.publish_date.value }}" onclick="revertField(this)"
                                    type="button" value="↺" class="btn-operation" title="Reset to original value">
                            </div>
                        </div>

                    </fieldset>
                </div>
            </div>

            <div class="submit-row">
                <input type="submit" value="Save" class="default" name="_save">
            </div>
        </form>

    </div>
</div>

{% include "import_js.html" %}

{% endblock content %}