{% extends "base_with_menu.html" %}

{% load static %}
{% load web_extras %}

{% block title %}{{ viewed_user.get_username.capitalize }} Abandoned games list - {{ block.super }}{% endblock title %}

{% block content %}

<h2><i class="nes-icon skull" title="Abandoned"></i> {{ viewed_user.get_username.capitalize }} Abandoned games list</h2>

<p>
    <form id="platform_filter" action="{% url 'user_games_platform_filter' viewed_user.get_username %}" method="get">
        {{ platform_filter_form.platform.label_tag }}
        {{ platform_filter_form.platform }}
        {{ platform_filter_form.username }}
        {{ platform_filter_form.filter_type }}
    </form>
</p>

<table class="nes-table is-bordered">
    <thead>
        <tr>
            {% field_filters_headers request sort_by exclude enabled_fields %}

            {% if user.is_authenticated %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in abandoned_games %}
        <tr>
            <td>
                <a href="{% url 'game_details' item.game.id %}">{{ item.game.name }}</a>
            </td>
            <td class="is-centered">
                {{ item.platform.shortname }}
            </td>
            {% if user.is_authenticated %}
                {% render_actions user item.game.id item.platform.id authenticated_user_catalog %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if abandoned_games.paginator.num_pages > 1 %}
    <section class="nes-container">
        <div>
            <span>
                {% if abandoned_games.has_previous %}
                    <a class="nes-btn" href="?{% query_update request page=1 %}">&laquo; first</a>
                    <a class="nes-btn" href="?{% query_update request page=abandoned_games.previous_page_number %}">prev</a>
                {% else %}
                    <a class="nes-btn is-disabled" href="#">&laquo; first</a>
                    <a class="nes-btn is-disabled" href="#">prev</a>
                {% endif %}

                <span>
                    Page <strong>{{ abandoned_games.number }}</strong> of <strong>{{ abandoned_games.paginator.num_pages }}</strong>
                </span>

                {% if abandoned_games.has_next %}
                    <a class="nes-btn" href="?{% query_update request page=abandoned_games.next_page_number %}">next</a>
                    <a class="nes-btn" href="?{% query_update request page=abandoned_games.paginator.num_pages %}">last &raquo;</a>
                {% else %}
                    <a class="nes-btn is-disabled" href="#">next</a>
                    <a class="nes-btn is-disabled" href="#">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
{% endif %}

<section class="nes-container">
    <div>
        <p>
            <strong>{{ abandoned_games_count }}</strong> game{{ abandoned_games_count|pluralize }}.</a>
        </p>
    </div>
</section>

{{ platform_filter_form.media }}

<script type="text/javascript">
    let platformFilter = $("#id_{{ platform_filter_form.platform.html_name }}");
    platformFilter.on("select2:select", function (e) {
        document.forms["platform_filter"].submit();
    });
    platformFilter.on("select2:clearing", function (e) {
        document.forms["platform_filter"].submit();
    });
</script>

{% endblock content %}