{% extends "base_with_menu.html" %}

{% load web_extras %}

{% block title %}{{ viewed_user.get_username.capitalize }} Abandoned games list - {{ block.super }}{% endblock title %}

{% block content %}

<h2><i class="nes-icon skull" title="Finished"></i> {{ viewed_user.get_username.capitalize }} Abandoned games list</h2>

<table class="nes-table is-bordered">
    <thead>
        <tr>
            {% if sort_by == constants.SORT_BY_GAME_NAME %}
                <th>Name <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_GAME_NAME_DESC }}">&#8593;</a></th>
            {% else %}
                <th>Name <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_GAME_NAME }}">&#8595;</a></th>
            {% endif %}

            {% if sort_by == constants.SORT_BY_PLATFORM %}
                <th>Platform <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_PLATFORM_DESC }}">️️️️&#8593;</a></th>
            {% else %}
                <th>Platform <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_PLATFORM }}">&#8595;</a></th>
            {% endif %}

            {% if user.is_authenticated %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in abandoned_games %}
        <tr>
            <td>
                <a href="{% url 'game_details' item.game.id %}">{{ item.game.name }}</a>
            </td>
            <td class="is-centered">
                {{ item.platform.shortname }}
            </td>
            {% if user.is_authenticated %}
                {% render_actions user item.game.id item.platform.id authenticated_user_catalog %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<section class="nes-container">
    <div>
        <p>
            <strong>{{ abandoned_games_count }}</strong> game{{ abandoned_games_count|pluralize }}.</a>
        </p>
    </div>
</section>

{% endblock content %}