{% extends "base_with_menu.html" %}

{% block title %}{{ viewed_user.get_username.capitalize }} Catalog - {{ block.super }}{% endblock title %}

{% block content %}

<h2>{{ viewed_user.get_username.capitalize }} Catalog</h2>

<section class="nes-container with-title">
    <h3 class="title">Stats</h3>
    <div>
        <p>
            <i class="nes-icon star is-small"></i> <a href="{% url 'user_games' viewed_user.get_username %}"><strong>{{ user_games_count }}</strong> game{{ user_games_count|pluralize }} total</a>
        </p>
        <p>
            <i class="nes-icon star is-small"></i> <a href="{% url 'user_platforms' viewed_user.get_username %}"><strong>{{ user_platforms_count }}</strong> platform{{ user_platforms_count|pluralize }} played in</a>
        </p>
        <p>
            <i class="nes-icon snes-pad is-small"></i> <a href="{% url 'user_currently_playing_games' viewed_user.get_username %}"><strong>{{ currently_playing_games_count }}</strong> currently playing game{{ currently_playing_games_count|pluralize }}</a>
        </p>
        <p>
            <i class="nes-icon trophy is-small"></i> <a href="{% url 'user_finished_games' viewed_user.get_username %}"><strong>{{ finished_games_count }}</strong> finished game{{ finished_games_count|pluralize }}</a>, <i class="nes-icon trophy is-empty is-small"></i> <a href="{% url 'user_pending_games' viewed_user.get_username %}"><strong>{{ pending_games_count }}</strong> pending game{{ pending_games_count|pluralize }}</a> and <i class="nes-icon skull is-small"></i> <a href="{% url 'user_abandoned_games' viewed_user.get_username %}"><strong>{{ abandoned_games_count }}</strong> abandoned game{{ abandoned_games_count|pluralize }}</a>
        </p>
        <p>
            You've completed {{ completed_games_progress }}% of your catalog
            <br/>
            <progress
                class="nes-progress {{ progress_class }}"
                value="{{ completed_games_progress }}"
                max="100"
                title="Completed {{ completed_games_progress }}% of the catalog ({{ completed_games_count }}/{{ user_games_count }})"
                style="margin-top: 12px"></progress>
        </p>
        <p>
            <i class="nes-icon heart is-small"></i> <a href="{% url 'user_wishlisted_games' viewed_user.get_username %}"><strong>{{ wishlisted_games_count }}</strong> wishlisted game{{ wishlisted_games_count|pluralize }}</a>
        </p>
    </div>
</section>

{% endblock content %}