{% extends "base_with_menu.html" %}

{% block title %}{{ viewed_user.get_username.capitalize }} Currently playing games list - {{ block.super }}{% endblock %}

{% block content %}

    <h2><i class="snes-jp-logo" title="Finished"></i> {{ viewed_user.get_username.capitalize }} Currently playing games list</h2>

    <table class="nes-table is-bordered">
        <thead>
            <tr>
                <th>Game</th>
                <th>Platform</th>
            </tr>
        </thead>
        <tbody>
            {% for item in currently_playing_games %}
                <tr>
                    <td>
                        <a href="{% url 'game_details' item.game.id %}">{{ item.game.name }}</a>{% if item.year_finished %} <i class="nes-icon trophy" title="Finished"></i>{% endif %}
                    </td>
                    <td class="is-centered">
                        {{ item.platform.shortname }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <section class="nes-container">
        <div>
            <p>
                <strong>{{ currently_playing_games_count }}</strong> currently playing games</a>
            </p>
        </div>
    </section>

{% endblock %}