{% extends "base_with_menu.html" %}

{% load static %}
{% load web_extras %}

{% block title %}{{ viewed_user.get_username.capitalize }} Finished games list - {{ block.super }}{% endblock title %}

{% block content %}

<h2><i class="nes-icon trophy" title="Finished"></i> {{ viewed_user.get_username.capitalize }} Finished games list</h2>

<p>
    {% datalist_autocomplete entity_type='platform' action_url=current_page_url input_id='platform_filter' placeholder='Filter by platform' username=viewed_user.get_username filter_type='finished' %}
</p>

<table class="nes-table is-bordered">
    <thead>
        <tr>
            {% field_filters_headers request sort_by exclude enabled_fields %}

            {% status_filters_headers request sort_by exclude enabled_statuses %}

            {% if user.is_authenticated %}
                <th>Actions</th>
                {% if constants.KEY_FIELD_GAME_TIME in enabled_fields %}
                    {% if sort_by == constants.SORT_BY_GAME_TIME %}
                        <th class="is-centered">
                            <a href="?{% query_update request sort_by=constants.SORT_BY_GAME_TIME_DESC exclude=exclude %}">Game Time &#8595;</a>
                        </th>
                    {% elif sort_by == constants.SORT_BY_GAME_TIME_DESC %}
                        <th class="is-centered">
                            <a href="?{% query_update request sort_by=constants.SORT_BY_GAME_TIME exclude=exclude %}">Game Time &#8593;</a>
                        </th>
                    {% else %}
                        <th class="is-centered">
                            <a href="?{% query_update request sort_by=constants.SORT_BY_GAME_TIME exclude=exclude %}">Game Time</a>
                        </th>
                    {% endif %}
                {% endif %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in finished_games %}
        <tr>
            <td>
                <a href="{% url 'game_details' item.game.id %}">{{ item.game.name }}</a>
            </td>

            <td class="is-centered">
                {{ item.platform.shortname }}
            </td>

            <td class="is-centered">
                {{ item.year_finished }}
            </td>

            {% status_filters_row item enabled_statuses %}

            {% if user.is_authenticated %}
                {% render_actions user item.game.id item.platform.id authenticated_user_catalog %}
                {% if constants.KEY_FIELD_GAME_TIME in enabled_fields %}
                    {% render_game_time user item.id item.minutes_played %}
                {% endif %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if finished_games.paginator.num_pages > 1 %}
    <section class="nes-container">
        <div>
            <span>
                {% if finished_games.has_previous %}
                    <a class="nes-btn" href="?{% query_update request page=1 %}">&laquo; first</a>
                    <a class="nes-btn" href="?{% query_update request page=finished_games.previous_page_number %}">prev</a>
                {% else %}
                    <a class="nes-btn is-disabled" href="#">&laquo; first</a>
                    <a class="nes-btn is-disabled" href="#">prev</a>
                {% endif %}

                <span>
                    Page <strong>{{ finished_games.number }}</strong> of <strong>{{ finished_games.paginator.num_pages }}</strong>
                </span>

                {% if finished_games.has_next %}
                    <a class="nes-btn" href="?{% query_update request page=finished_games.next_page_number %}">next</a>
                    <a class="nes-btn" href="?{% query_update request page=finished_games.paginator.num_pages %}">last &raquo;</a>
                {% else %}
                    <a class="nes-btn is-disabled" href="#">next</a>
                    <a class="nes-btn is-disabled" href="#">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
{% endif %}

<section class="nes-container">
    <div>
        <p>
            <strong>{{ finished_games_count }}</strong> game{{ finished_games_count|pluralize }}.</a>
        </p>
    </div>
</section>

{% endblock content %}