{% extends "base_with_menu.html" %}

{% load web_extras %}

{% block title %}Videogames Catalog of {{ viewed_user.get_username.capitalize }} - {{ block.super }}{% endblock title %}

{% block content %}

<h2>Videogames Catalog of {{ viewed_user.get_username.capitalize }}</h2>

<table class="nes-table is-bordered">
    <thead>
        <tr>
            {% field_filters_headers request sort_by exclude enabled_fields %}

            {% status_filters_headers request sort_by exclude enabled_statuses %}

            {% if user.is_authenticated %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in user_games %}
            <tr>
                <td>
                    <a href="{% url 'game_details' item.game.id %}">{{ item.game.name }}</a>
                </td>
                <td class="is-centered">
                    {{ item.platform.shortname }}
                </td>

                {% status_filters_row item enabled_statuses %}

                {% if user.is_authenticated %}
                    {% render_actions user item.game.id item.platform.id authenticated_user_catalog %}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if user_games.paginator.num_pages > 1 %}
    <section class="nes-container">
        <div>
            <span>
                {% if user_games.has_previous %}
                    <a class="nes-btn" href="?{% query_update request page=1 %}">&laquo; first</a>
                    <a class="nes-btn" href="?{% query_update request page=user_games.previous_page_number %}">previous</a>
                {% else %}
                    <a class="nes-btn is-disabled" href="#">&laquo; first</a>
                    <a class="nes-btn is-disabled" href="#">previous</a>
                {% endif %}

                <span>
                    Page <strong>{{ user_games.number }}</strong> of <strong>{{ user_games.paginator.num_pages }}</strong>
                </span>

                {% if user_games.has_next %}
                    <a class="nes-btn" href="?{% query_update request page=user_games.next_page_number %}">next</a>
                    <a class="nes-btn" href="?{% query_update request page=user_games.paginator.num_pages %}">last &raquo;</a>
                {% else %}
                    <a class="nes-btn is-disabled" href="#">next</a>
                    <a class="nes-btn is-disabled" href="#">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
{% endif %}

<section class="nes-container with-title">
    <h3 class="title">Stats</h3>
    <div>
        <p>
            <strong>{{ user_games_count }}</strong> game{{ user_games_count|pluralize }}.
        </p>
        <p>
            <strong>{{ currently_playing_games_count }}</strong> currently playing game{{ currently_playing_games_count|pluralize }}.
        </p>
        <p>
            <strong>{{ finished_games_count }}</strong> finished game{{ finished_games_count|pluralize }}, <strong>{{ abandoned_games_count }}</strong> abandoned game{{ abandoned_games_count|pluralize }} and <strong>{{ pending_games_count }}</strong> pending game{{ pending_games_count|pluralize }}.
        </p>
        <p>
            {% if user.is_authenticated and user == viewed_user %}
                You've completed {{ completed_games_progress }}% of this catalog.
            {% else %}
                {{ viewed_user.get_username.capitalize }} has completed {{ completed_games_progress }}% of this catalog.
            {% endif %}
            <br/>
            <progress class="nes-progress {{ progress_class }}" value="{{ completed_games_progress }}"
                max="100"
                title="Completed {{ completed_games_progress }}% of this catalog ({{ completed_games_count }}/{{ user_games_count }})"></progress>
        </p>
    </div>
</section>

{% endblock content %}