{% extends "base_with_menu.html" %}

{% load web_extras %}

{% block title %}{{ viewed_user.get_username.capitalize }} {{ platform.name }} games - {{ block.super }}{% endblock title %}

{% block content %}

<h2>{{ viewed_user.get_username.capitalize }} {{ platform.name }} games</h2>

<table class="nes-table is-bordered">
    <thead>
        <tr>
            <th>Name</th>

            {% if user.is_authenticated %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in user_games %}
            <tr>
                <td>
                    <a href="{% url "game_details" item.game.id %}">{{ item.game.name }}</a>{% if item.year_finished %} <i class="nes-icon trophy" title="Finished"></i>{% endif %}{% if item.currently_playing %} <i class="nes-pixel-art snes-jp-logo" title="Currently playing"></i>{% endif %}{% if item.no_longer_owned %}
                    <i class="nes-pixel-art snes-jp-logo is-disabled" title="No longer owned"></i>{% endif %}
                </td>
                {% if user.is_authenticated %}
                    {% render_actions user viewed_user item.game.id platform.id next_url authenticated_user_catalog %}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<section class="nes-container with-title">
    <h3 class="title">Stats</h3>
    <div>
        <p>
            <strong>{{ games_count }}</strong> games.
        </p>
        <p>
            <strong>{{ currently_playing_games_count }}</strong> currently playing games.
        </p>
        <p>
            <strong>{{ finished_games_count }}</strong> finished games.
            <br/>
            <progress class="nes-progress {{ progress_class }}" value="{{ finished_games_progress }}"
                max="100"
                title="Finished {{ finished_games_progress }}% of the catalog ({{ finished_games_count }}/{{ games_count }})"></progress>
        </p>
    </div>
</section>

{% endblock content %}