{% extends "base_with_menu.html" %}

{% load web_extras %}

{% block title %}{{ viewed_user.get_username.capitalize }} Pending games list - {{ block.super }}{% endblock title %}

{% block content %}

<h2><i class="nes-icon trophy is-empty" title="Finished"></i> {{ viewed_user.get_username.capitalize }} Pending games list</h2>

<table class="nes-table is-bordered">
    <thead>
        <tr>
            {% if sort_by == constants.SORT_BY_GAME_NAME %}
                <th>Game <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_GAME_NAME_DESC }}">&#8593;</a></th>
            {% else %}
                <th>Game <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_GAME_NAME }}">&#8595;</a></th>
            {% endif %}

            {% if sort_by == constants.SORT_BY_PLATFORM %}
                <th>Platform <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_PLATFORM_DESC }}">️️️️&#8593;</a></th>
            {% else %}
                <th>Platform <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_PLATFORM }}">&#8595;</a></th>
            {% endif %}

            {% if sort_by == constants.SORT_BY_YEAR %}
                <th>Year <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_YEAR_DESC }}">&#8593;</a></th>
            {% else %}
                <th>Year <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_YEAR }}">&#8595;</a></th>
            {% endif %}

            {% if user.is_authenticated %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in pending_games %}
        <tr>
            <td>
                <a href="{% url 'game_details' item.game.id %}">{{ item.game.name }}</a>{% if item.currently_playing %}
                <i class="nes-icon snes-pad" title="Currently playing"></i>{% endif %}{% if item.no_longer_owned %}
                <i class="nes-icon snes-pad is-disabled" title="No longer owned"></i>{% endif %}
            </td>
            <td class="is-centered">
                {{ item.platform.shortname }}
            </td>
            <td class="is-centered">
                {{ item.year_finished }}
            </td>
            {% if user.is_authenticated %}
                {% render_actions user item.game.id item.platform.id authenticated_user_catalog %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<section class="nes-container">
    <div>
        <p>
            <strong>{{ pending_games_count }}</strong> game{{ pending_games_count|pluralize }}.</a>
        </p>
    </div>
</section>

{% endblock content %}