{% extends "base_with_menu.html" %}

{% load web_extras %}

{% block title %}{{ viewed_user.get_username.capitalize }} Pending games list - {{ block.super }}{% endblock title %}

{% block content %}

<h2><i class="nes-icon trophy is-empty" title="Finished"></i> {{ viewed_user.get_username.capitalize }} Pending games list</h2>

<table class="nes-table is-bordered">
    <thead>
        <tr>
            {% field_filters_headers sort_by exclude request.path enabled_fields %}

            {% status_filters_headers sort_by exclude request.path enabled_statuses %}

            {% if user.is_authenticated %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in pending_games %}
        <tr>
            <td>
                <a href="{% url 'game_details' item.game.id %}">{{ item.game.name }}</a>
            </td>

            <td class="is-centered">
                {{ item.platform.shortname }}
            </td>

            {% status_filters_row item enabled_statuses %}

            {% if user.is_authenticated %}
                {% render_actions user item.game.id item.platform.id authenticated_user_catalog %}
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<section class="nes-container">
    <div>
        <p>
            <strong>{{ pending_games_count }}</strong> game{{ pending_games_count|pluralize }}.</a>
        </p>
    </div>
</section>

{% endblock content %}