{% extends "base_with_menu.html" %}

{% block title %}Profile of {{ viewed_user.get_username.capitalize }} - {{ block.super }}{% endblock %}

{% block content %}

    <h2>Profile of {{ viewed_user.get_username.capitalize }}</h2>

    <p>
        <a class="nes-btn is-primary" href="{% url 'user_catalog' viewed_user.get_username %}">View user's catalog</a>
    </p>

    <section class="nes-container with-title">
        <h3 class="title"><i class="nes-icon star"></i> <span>Latest Videogames Added</span></h3>
        <div>
            <ul class="nes-list is-disc margin-top">
                {% for item in latest_user_games %}
                <li>
                    <a href="{% url 'game_details' item.game.id %}">{{ item.game.name }}</a> ({{ item.platform.shortname }}){% if item.year_finished %} <i class="nes-icon trophy" title="Finished"></i>{% endif %}{% if item.currently_playing %} <i class="nes-pixel-art snes-jp-logo" title="Currently playing"></i>{% endif %}{% if item.no_longer_owned %} <i class="nes-pixel-art snes-jp-logo is-disabled" title="No longer owned"></i>{% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="nes-container with-title">
        <h3 class="title"><i class="nes-pixel-art snes-jp-logo"></i> <span>Latest Currently Playing</span></h3>
        <div>
            <ul class="nes-list is-disc margin-top">
                {% for item in currently_playing_items %}
                    <li><a href="{% url 'game_details' item.game.id %}">{{ item.game.name }}</a> ({{ item.platform.shortname }}){% if item.year_finished %} <i class="nes-icon trophy" title="Finished"></i>{% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="nes-container with-title">
        <h3 class="title"><i class="nes-icon trophy"></i> <span>Latest Finished</span></h3>
        <div>
            <ul class="nes-list is-disc margin-top">
                {% for item in latest_finished_items %}
                    <li><a href="{% url 'game_details' item.game.id %}">{{ item.game.name }}</a> ({{ item.platform.shortname }}) - {{ item.year_finished }}{% if item.currently_playing %} <i class="nes-pixel-art snes-jp-logo" title="Currently playing"></i>{% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="nes-container with-title">
        <h3 class="title"><i class="nes-icon heart"></i> <span>Latest Wishlisted</span></h3>
        <div>
            <ul class="nes-list is-disc margin-top">
                {% for item in latest_wishlisted_items %}
                    <li><a href="{% url 'game_details' item.game.id %}">{{ item.game.name }}</a> ({{ item.platform.shortname }})
                {% endfor %}
            </ul>
        </div>
    </section>

{% endblock %}