{% extends "base_with_menu.html" %}

{% load web_extras %}

{% block title %}Registered Users - {{ block.super }}{% endblock title %}

{% block content %}

<h2>Registered Users</h2>

<table class="nes-table is-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for registered_user in users %}
            <tr>
                <td>{{ registered_user.get_username.capitalize }}</td>
                <td><a class="nes-btn is-primary" href="{% url 'user_catalog' registered_user.get_username %}">View Catalog</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if users.paginator.num_pages > 1 %}
    <section class="nes-container">
        <div>
            <span>
                {% if users.has_previous %}
                    <a class="nes-btn" href="?{% query_update request page=1 %}">&laquo; first</a>
                    <a class="nes-btn" href="?{% query_update request page=users.previous_page_number %}">previous</a>
                {% else %}
                    <a class="nes-btn is-disabled" href="#">&laquo; first</a>
                    <a class="nes-btn is-disabled" href="#">previous</a>
                {% endif %}

                <span>
                    Page <strong>{{ users.number }}</strong> of <strong>{{ users.paginator.num_pages }}</strong>
                </span>

                {% if users.has_next %}
                    <a class="nes-btn" href="?{% query_update request page=users.next_page_number %}">next</a>
                    <a class="nes-btn" href="?{% query_update request page=users.paginator.num_pages %}">last &raquo;</a>
                {% else %}
                    <a class="nes-btn is-disabled" href="#">next</a>
                    <a class="nes-btn is-disabled" href="#">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>
{% endif %}

{% endblock content %}