{% extends "base_with_menu.html" %}

{% block title %}{{ viewed_user.get_username.capitalize }} Wishlisted games list - {{ block.super }}{% endblock %}

{% block content %}

<h2><i class="nes-icon star" title="Wishlisted"></i> {{ viewed_user.get_username.capitalize }} Wishlisted games list</h2>

<table class="nes-table is-bordered">
    <thead>
        <tr>
            {% if sort_by == constants.SORT_BY_GAME_NAME %}
                <th>Game <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_GAME_NAME_DESC }}">&#8593;</a></th>
            {% else %}
                <th>Game <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_GAME_NAME }}">&#8595;</a></th>
            {% endif %}

            {% if sort_by == constants.SORT_BY_PLATFORM %}
                <th>Platform <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_PLATFORM_DESC }}">️️️️&#8593;</a></th>
            {% else %}
                <th>Platform <a href="{{ request.path }}?sort_by={{ constants.SORT_BY_PLATFORM }}">&#8595;</a></th>
            {% endif %}

            {% if user.is_authenticated %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for item in wishlisted_games %}
        <tr>
            <td>
                <a href="{% url 'game_details' item.game.id %}">{{ item.game.name }}</a>
            </td>
            <td class="is-centered">
                {{ item.platform.shortname }}
            </td>
            {% if user.is_authenticated %}
                <td class="is-centered">
                    {% if viewed_user == user %}
                        <form action="{% url 'user_wishlisted_games' user.get_username %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="{{ constants.FORM_ACTION_DELETE }}" />
                            <input type="hidden" name="game" value="{{ item.game.id }}" />
                            <input type="hidden" name="platform" value="{{ item.platform.id }}" />
                            <button class="nes-btn is-error" type="submit" title="Remove from wishlist"><i class="nes-icon star is-empty" title="Remove from wishlist"></i></button>
                        </form>
                    {% else %}
                        {% if item.generic_id in auth_user_wishlisted_games %}
                            <form action="{% url 'user_wishlisted_games' user.get_username %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="action" value="{{ constants.FORM_ACTION_DELETE }}" />
                                <input type="hidden" name="viewed_username" value="{{ viewed_user.get_username }}" />
                                <input type="hidden" name="game" value="{{ item.game.id }}" />
                                <input type="hidden" name="platform" value="{{ item.platform.id }}" />
                                <button class="nes-btn is-error" type="submit" title="Remove from your wishlist"><i class="nes-icon star is-empty" title="Remove from your wishlist"></i></button>
                            </form>
                        {% else %}
                            <form action="{% url 'user_wishlisted_games' user.get_username %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="viewed_username" value="{{ viewed_user.get_username }}" />
                                <input type="hidden" name="user" value="{{ user.id }}" />
                                <input type="hidden" name="game" value="{{ item.game.id }}" />
                                <input type="hidden" name="platform" value="{{ item.platform.id }}" />
                                <button class="nes-btn is-warning" type="submit" title="Add to your wishlist"><i class="nes-icon star" title="Add to your wishlist"></i></button>
                            </form>
                        {% endif %}
                    {% endif %}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<section class="nes-container">
    <div>
        <p>
            <strong>{{ wishlisted_games_count }}</strong> games.</a>
        </p>
    </div>
</section>

{% endblock %}