import os

from finishedgames import constants

from .base import *  # NOQA: F401, F403

# Your production secret goes here
SECRET_KEY = None
# Although is better to fetch it from an environment variable:
# SECRET_KEY = os.environ.get("SECRET_KEY")

DEBUG = False

ALLOWED_HOSTS = [
    "0.0.0.0",
    # Your production allowed hosts go here
]

DATABASES = {
    # Your production database config goes here
}

# Static files production url
# STATIC_URL = "https://finishedgames.kartones.net/statics/"

# Directory from which you’d serve statics in production
STATIC_ROOT = "/code/finishedgames/statics/"

# HTTPS only for additional security (disable if you don't have https)
CSRF_COOKIE_SECURE = True
SESSION_COOKIE_SECURE = True

# Custom Finished Games settings

CATALOG_SOURCES_ADAPTERS = {
    "<source_id>": {
        constants.ADAPTER_API_KEY: "<api_key>",
        constants.ADAPTER_REQUESTS_PER_HOUR: <amount_per_hour>,
        constants.ADAPTER_WAIT_SECONDS_WHEN_RATE_LIMITED: <wait_seconds>,  # value = 3600 / ADAPTER_REQUESTS_PER_HOUR
    }
}

# Remember to setup a user agent
CATALOG_SOURCES_ADAPTER_USER_AGENT = "<application-name>/<version> (<url>)"
