{% load web_extras %}

<td class="is-centered actions">

    <form action="{% url 'user_wishlisted_games' user.get_username %}"
          onsubmit="{% send_action_data constants.FORM_ACTION_REMOVE_WISHLIST item_generic_id %}"
          id="{{ constants.FORM_ACTION_REMOVE_WISHLIST }}{{ item_generic_id }}"
          style="{% if item_generic_id not in authenticated_user_catalog.wishlisted %}display:none{% endif %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="{{ constants.FORM_METHOD_DELETE }}" />
        <input type="hidden" name="user" value="{{ user.id }}" />
        <input type="hidden" name="game" value="{{ game_id }}" />
        <input type="hidden" name="platform" value="{{ platform_id }}" />
        <button class="nes-btn is-error" title="Remove from your wishlist" type="submit">
            <i class="nes-icon heart is-empty" title="Remove from your wishlist"></i>
        </button>
    </form>

    <form action="{% url 'user_wishlisted_games' user.get_username %}"
          onsubmit="{% send_action_data constants.FORM_ACTION_WISHLIST item_generic_id %}"
          id="{{ constants.FORM_ACTION_WISHLIST }}{{ item_generic_id }}"
          style="{% if item_generic_id in authenticated_user_catalog.games or item_generic_id in authenticated_user_catalog.wishlisted %}display:none{% endif %}">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.id }}" />
        <input type="hidden" name="game" value="{{ game_id }}" />
        <input type="hidden" name="platform" value="{{ platform_id }}" />
        <button class="nes-btn" title="Add to your wishlist" type="submit">
            <i class="nes-icon heart" title="Add to your wishlist"></i>
        </button>
    </form>

    <form action="{% url 'user_currently_playing_games' user.get_username %}"
          onsubmit="{% send_action_data constants.FORM_ACTION_REMOVE_PLAYING item_generic_id %}"
          id="{{ constants.FORM_ACTION_REMOVE_PLAYING }}{{ item_generic_id }}"
          style="{% if item_generic_id not in authenticated_user_catalog.games or item_generic_id not in authenticated_user_catalog.currently_playing %}display:none{% endif %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="{{ constants.FORM_METHOD_DELETE }}" />
        <input type="hidden" name="user" value="{{ user.id }}" />
        <input type="hidden" name="game" value="{{ game_id }}" />
        <input type="hidden" name="platform" value="{{ platform_id }}" />
        <button class="nes-btn is-primary" type="submit" title="Remove from currently playing">
            <i class="nes-pixel-art snes-jp-logo is-empty" title="Remove from currently playing"></i>
        </button>
    </form>

    <form action="{% url 'user_currently_playing_games' user.get_username %}"
          onsubmit="{% send_action_data constants.FORM_ACTION_PLAYING item_generic_id %}"
          id="{{ constants.FORM_ACTION_PLAYING }}{{ item_generic_id }}"
          style="{% if item_generic_id not in authenticated_user_catalog.games or item_generic_id in authenticated_user_catalog.currently_playing %}display:none{% endif %}">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.id }}" />
        <input type="hidden" name="game" value="{{ game_id }}" />
        <input type="hidden" name="platform" value="{{ platform_id }}" />
        <button class="nes-btn" type="submit" title="Mark as currently playing">
            <i class="nes-pixel-art snes-jp-logo" title="Mark as currently playing"></i>
        </button>
    </form>

    <form action="{% url 'user_finished_games' user.get_username %}"
          onsubmit="{% send_action_data constants.FORM_ACTION_REMOVE_FINISHED item_generic_id %}"
          id="{{ constants.FORM_ACTION_REMOVE_FINISHED }}{{ item_generic_id }}"
          style="{% if item_generic_id not in authenticated_user_catalog.games or item_generic_id not in authenticated_user_catalog.finished %}display:none{% endif %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="{{ constants.FORM_METHOD_DELETE }}" />
        <input type="hidden" name="user" value="{{ user.id }}" />
        <input type="hidden" name="game" value="{{ game_id }}" />
        <input type="hidden" name="platform" value="{{ platform_id }}" />
        <button class="nes-btn is-primary" type="submit" title="Remove from finished games">
            <i class="nes-icon trophy is-empty" title="Remove from finished games"></i>
        </button>
    </form>

    <form action="{% url 'user_finished_games' user.get_username %}"
            onsubmit="{% send_action_data constants.FORM_ACTION_FINISHED item_generic_id %}"
            id="{{ constants.FORM_ACTION_FINISHED }}{{ item_generic_id }}"
            style="{% if item_generic_id not in authenticated_user_catalog.games or item_generic_id in authenticated_user_catalog.finished %}display:none{% endif %}">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.id }}" />
        <input type="hidden" name="game" value="{{ game_id }}" />
        <input type="hidden" name="platform" value="{{ platform_id }}" />
        <button class="nes-btn" type="submit" title="Mark as finished game">
            <i class="nes-icon trophy" title="Mark as finished game"></i>
        </button>
    </form>

    <form action="{% url 'user_abandoned_games' user.get_username %}"
            onsubmit="{% send_action_data constants.FORM_ACTION_ABANDONED item_generic_id %}"
            id="{{ constants.FORM_ACTION_ABANDONED }}{{ item_generic_id }}"
            style="{% if item_generic_id not in authenticated_user_catalog.games or item_generic_id in authenticated_user_catalog.abandoned %}display:none{% endif %}">
            {% csrf_token %}
            <input type="hidden" name="user" value="{{ user.id }}" />
            <input type="hidden" name="game" value="{{ game_id }}" />
            <input type="hidden" name="platform" value="{{ platform_id }}" />
            <button class="nes-btn" type="submit" title="Mark as abandoned">
                <i class="nes-icon skull" title="Mark as abandoned"></i>
            </button>
    </form>

    <form action="{% url 'user_abandoned_games' user.get_username %}"
            onsubmit="{% send_action_data constants.FORM_ACTION_REMOVE_ABANDONED item_generic_id %}"
            id="{{ constants.FORM_ACTION_REMOVE_ABANDONED }}{{ item_generic_id }}"
            style="{% if item_generic_id not in authenticated_user_catalog.games or item_generic_id not in authenticated_user_catalog.abandoned %}display:none{% endif %}">
            {% csrf_token %}
        <input type="hidden" name="_method" value="{{ constants.FORM_METHOD_DELETE }}" />
        <input type="hidden" name="user" value="{{ user.id }}" />
        <input type="hidden" name="game" value="{{ game_id }}" />
        <input type="hidden" name="platform" value="{{ platform_id }}" />
        <button class="nes-btn is-primary" type="submit" title="Remove abandoned mark">
            <i class="nes-icon skull is-disabled" title="Remove abandoned mark"></i>
        </button>
    </form>

    <form action="{% url 'user_no_longer_owned_games' user.get_username %}"
            onsubmit="{% send_action_data constants.FORM_ACTION_REMOVE_NOT_OWNED item_generic_id %}"
            id="{{ constants.FORM_ACTION_REMOVE_NOT_OWNED }}{{ item_generic_id }}"
            style="{% if item_generic_id not in authenticated_user_catalog.games or item_generic_id not in authenticated_user_catalog.not_owned %}display:none{% endif %}">
            {% csrf_token %}
        <input type="hidden" name="_method" value="{{ constants.FORM_METHOD_DELETE }}" />
        <input type="hidden" name="user" value="{{ user.id }}" />
        <input type="hidden" name="game" value="{{ game_id }}" />
        <input type="hidden" name="platform" value="{{ platform_id }}" />
        <button class="nes-btn is-primary" type="submit" title="Remove no longer owned mark">
            <i class="nes-pixel-art snes-jp-logo is-disabled" title="Remove no longer owned mark"></i>
        </button>
    </form>

    <form action="{% url 'user_no_longer_owned_games' user.get_username %}"
            onsubmit="{% send_action_data constants.FORM_ACTION_NOT_OWNED item_generic_id %}"
            id="{{ constants.FORM_ACTION_NOT_OWNED }}{{ item_generic_id }}"
            style="{% if item_generic_id not in authenticated_user_catalog.games or item_generic_id in authenticated_user_catalog.not_owned %}display:none{% endif %}">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.id }}" />
        <input type="hidden" name="game" value="{{ game_id }}" />
        <input type="hidden" name="platform" value="{{ platform_id }}" />
        <button class="nes-btn" type="submit" title="Mark as no longer owned">
            <i class="nes-pixel-art snes-jp-logo is-disabled" title="Mark as no longer owned"></i>
        </button>
    </form>

    <form action="{% url 'user_games' user.get_username %}"
          onsubmit="{% send_action_data constants.FORM_ACTION_REMOVE_FROM_CATALOG item_generic_id %}"
          id="{{ constants.FORM_ACTION_REMOVE_FROM_CATALOG }}{{ item_generic_id }}"
          style="{% if item_generic_id not in authenticated_user_catalog.games %}display:none{% endif %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="{{ constants.FORM_METHOD_DELETE }}" />
        <input type="hidden" name="user" value="{{ user.id }}" />
        <input type="hidden" name="game" value="{{ game_id }}" />
        <input type="hidden" name="platform" value="{{ platform_id }}" />
        <button class="nes-btn is-error" type="submit" title="Remove from your catalog">
            <i class="nes-icon star is-empty" title="Remove from your catalog"></i>
        </button>
    </form>

    <form action="{% url 'user_games' user.get_username %}"
          onsubmit="{% send_action_data constants.FORM_ACTION_ADD_TO_CATALOG item_generic_id %}"
          id="{{ constants.FORM_ACTION_ADD_TO_CATALOG }}{{ item_generic_id }}"
          style="{% if item_generic_id in authenticated_user_catalog.games %}display:none{% endif %}">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.id }}" />
        <input type="hidden" name="game" value="{{ game_id }}" />
        <input type="hidden" name="platform" value="{{ platform_id }}" />
        <button class="nes-btn" type="submit" title="Add to your catalog">
            <i class="nes-icon star" title="Add to your catalog"></i>
        </button>
    </form>

</td>