{% extends "base.html" %}

{% load static %}

{% block menu %}
    <section class="nes-container menu">
        <div>
            <a class="nes-btn" href="{% url 'games' %}" title="Games">Games</a>
            <a class="nes-btn" href="{% url 'platforms' %}" title="Platforms">Platforms</a>
            <a class="nes-btn" href="{% url 'users' %}" title="Users">Users</a>
            {% if user.is_authenticated %}
                <a class="nes-btn is-right" href="{% url 'logout' %}" title="Logout">Logout</a>
                <a class="nes-btn is-right" href="{% url 'help' %}" title="Help">Help</a>
                <a class="nes-btn is-right" href="{% url 'user_catalog' user.get_username %}" title="Profile">Profile</a>
            {% else %}
                <a class="nes-btn is-success is-right" href="{% url 'login' %}" title="Login">Login</a>
                <a class="nes-btn is-right" href="{% url 'help' %}" title="Help">Help</a>
            {% endif %}
        </div>
    </section>
{% endblock menu %}

{% block footer %}
    {% if user.is_authenticated %}
        <script type="text/javascript" src="{% static 'js/main.js' %}?v=20190416"></script>
        <div id="feedback" class="feedback nes-balloon from-right">
            <span class="feedback-error">
                There was an error<br/>
                trying to apply your action
            </span>
        </div>
    {% endif %}
{% endblock footer %}