<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/nes.min.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
    <title>{% block title %}Finished Games{% endblock %}</title>
</head>

<body>
    <header>
        <h1><a href="{% url 'index' %}">Finished Games</a></h1>
        <p>Track your playing history</p>
        {% block menu %}{% endblock %}
    </header>

    <div id="content">
        <section class="nes-container">
            <div>
                {% block content %}{% endblock %}
            </div>
        </section>
    </div>

    <footer>
        Made with <i class="nes-icon heart is-small" title="love"></i> by <a href="https://kartones.net" target="_blank">Kartones</a> | Fork it on <a href="https://github.com/Kartones/finished-games" target="_blank">Github</a>
    </footer>
</body>
</html>