{% extends "base_with_menu.html" %}

{% load static %}
{% load web_extras %}

{% block title %}{{ game.name }} - {{ block.super }}{% endblock title %}

{% block microformats %}
    <meta property="og:locale" content="en" />
    <meta property="og:site_name" content="Finished Games" />
    <meta itemprop="name" content="{{ game.name }}" />
    <meta property="og:title" content="{{ game.name }}" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="First published: {{ game.publish_date }}. Platforms: {{ game.platforms_list }}" />
    <meta property="article:author" content="" />
    <meta property="og:url" content="{% url 'game_details' game.id %}" />
    {% if game.cover %}
        <meta itemprop="image" content="{% get_static_prefix %}{{ covers_path }}{{ game.cover }}.png" />
        <meta property="og:image" content="{% get_static_prefix %}{{ covers_path }}{{ game.cover }}.png" />
        <link href="{% get_static_prefix %}{{ covers_path }}{{ game.cover }}.png" rel="image_src" />
    {% endif %}
{% endblock microformats %}

{% block content %}

    {% if game.cover %}
    <div style="min-height: 200px;">
        <img class="game-cover" src="{% get_static_prefix %}{{ covers_path }}{{ game.cover }}.png" height="160" />
    {% endif %}

    <h2>{{ game.name }}</h2>

    {% if game.dlc_or_expansion %}
        <p><strong>DLC/Expansion of</strong>: <a href="{% url 'game_details' game.parent_game.id %}">{{ game.parent_game.name }}</a></p>
    {% endif %}

    <p><strong>Year first published</strong>: {{ game.publish_date }}</p>

{% if game.cover %}
    </div>
{% endif %}

<p><strong>Available on</strong>:</p>
<table class="nes-table is-bordered">
    <thead>
        <tr>
            <th>Platform Name</th>
            {% if user.is_authenticated %}
                <th>Actions</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for platform in game.platforms.all %}
            <tr>
                <td>
                    <a href="{% url 'platform_details' platform.id %}">{{ platform.name }}</a>
                </td>
                {% if user.is_authenticated %}
                    {% render_actions user game.id platform.id authenticated_user_catalog %}
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>
    View game info at:
    <ul class="buttons-list">
    {% for display_name, url in game.urls_dict.items %}
        <li>
            <a class="nes-btn is-primary" href="{{ url }}" target="_blank">{{ display_name }}</a>
        </li>
    {% endfor %}
    {% for display_name, url in EXTRA_GAME_INFO_BUTTONS %}
        <li>
            <a class="nes-btn is-primary" href="{{ url }}"
                target="_blank">{{ display_name }}</a>
        </li>
    {% endfor  %}
    </ul>
</p>

{% endblock content %}