{% extends "base_with_menu.html" %}

{% block title %}Games - {{ block.super }}{% endblock title %}

{% block content %}

<p>
    <h3>Choose starting letter/symbol to display games:</h3>
</p>
<p class="character-filter">
    {% for character in letters %}
      <a href="{% url 'games_filtered_by_starting_character' character %}">{{ character.upper }}</a>
      {% if not forloop.last %} - {% endif %}
    {% endfor %}
    <br />
    {% for character in digits %}
      <a href="{% url 'games_filtered_by_starting_character' character %}">{{ character.upper }}</a>
      -
    {% endfor %}
    <a href="{% url 'games_filtered_by_starting_character' non_alphanumeric_constant %}">#</a>
</p>


{% endblock content %}